*{
    box-sizing: border-box;
}

html{
    width: 100%;
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

::backdrop{
    opacity: 1.0;
}

h1{
    font-family: "alegreya", serif;
    font-weight: 700;
    font-style: normal;
}

button{
    font-family: "aleo", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.display{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    width: 500px;
    height: 800px;
}

.bookCard{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
    font-family: "aleo", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.addBtn{
    margin-left: 325px;
}

dialog{
    width: 400px;
}

form{
    display: flex;
    box-sizing: border-box;
    width: 362px;
    flex-direction: column;
}

.formBtns{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.cardBtns{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.delete .toggle{
    height: 30px;
}