*{
    box-sizing: border-box;
}

html, body{
    width: 100%;
}

html{
    height: 100%;
    background: #b4ced9;
    background: linear-gradient(233deg, rgba(180, 206, 217, 1) 0%, rgba(180, 143, 207, 1) 50%, rgba(255, 250, 214, 1) 100%);
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

::backdrop{
    opacity: 1.0;
}

.header{
    width: 100%;
    background-color: white;
    box-shadow: 5px 5px 10px;
}
h1, h2{
    font-family: "alegreya", serif;
    font-weight: 700;
    font-style: normal;
}

h2{
    margin-top: 0;
}


button{
    font-family: "aleo", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container{
    width: 500px;
    height: 800px;
}

.content{
    display: flex;
    width: 900px;
    justify-content: space-between;

}
.display{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    font-family: "aleo", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.bookCard{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
    font-family: "aleo", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.addBtn{
    margin-left: 325px;
}

dialog{
    width: 400px;
}

form{
    display: flex;
    box-sizing: border-box;
    width: 362px;
    flex-direction: column;
}

.formBtns{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.cardBtns{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.delete .toggle{
    height: 30px;
}

.statsViewBox{
    margin-top: 15%;
    margin-bottom: auto;
    border: 2px dashed;
    border-radius: 12px;
    padding: 20px;
}

.statsView{
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 20px;
    opacity: 0.8;
    width: 300px;
    height: 50px;
}